<ion-header>
  <ion-toolbar color="purple">
    <ion-title>Registro: </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>
      Email:
    </ion-label>
    <ion-input type="text" [(ngModel)]="user.email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      Contraseña:
    </ion-label>
    <ion-input type="password" [(ngModel)]="user.password"></ion-input>
  </ion-item>
  <ion-item-divider>
    <ion-button size="large" (click)="onRegister()">Registrarse</ion-button>
    <br>
    ¿Ya posee una cuenta? <a href="/login">Ingrese</a>
  </ion-item-divider>
</ion-content>