<ion-app>
  <!-- SPLASH -->
  <div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
   <div class="flb">
    <img class="logo" id="cuchillo" src="../assets/images/animatedSplash/cuchillo.png">
    <img class="logo" id="gorro" src="../assets/images/animatedSplash/gorro.png">
    <img class="logo" id="lazo" src="../assets/images/animatedSplash/lazo.png">
    <img class="logo" id="rostro" src="../assets/images/animatedSplash/rostro.png">
    <img class="logo" id="tenedor" src="../assets/images/animatedSplash/tenedor.png">
    <img class="logo" id="texto" src="../assets/images/animatedSplash/texto.png">
  </div>
 </div>
  <!-- END Splash -->
<ion-router-outlet></ion-router-outlet>
</ion-app>
