<ion-header>
  <ion-toolbar color="light">
    <ion-title align="center"> Complete sus datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="white">
  <div class="centered" align="center"> 
  <ion-item>
    <ion-label>
      Email:
    </ion-label>
    <br>
    <ion-input type="text" [(ngModel)]="user.email" placeholder="ejemplo@gmail.com"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      Contraseña:
    </ion-label>
    <ion-input type="password" [(ngModel)]="user.password" placeholder="*****"></ion-input>
  </ion-item>
    <ion-button size= "large" (click)="onLogin()">Ingresar</ion-button>
  </div>


</ion-content>