<ion-card>
  <ion-card-content>
    Nos interesa su privacidad, así que al ingresar como 'Anónimo' podrá tener una experiencia única; podrá registrarse ¡con solo ingresar su
    nombre y una imagen!, sin necesidad de dar más datos.
  </ion-card-content>
</ion-card>

<form [formGroup]="todo">
  <div class="centrado">
    <img id="fotoDePerfil" *ngIf="(user.imagen && showSpinner!=true)" src="{{user.imagen}}" alt="perfil">
  </div>
  <ion-item>
    <ion-input type="text" [(ngModel)]="user.nombre" formControlName="nombre" placeholder="Nombre"></ion-input>
  </ion-item>
  <!-- <ion-item>
    <ion-input type="text" [(ngModel)]="user.perfil" readonly value="user.perfil" formControlName="perfil"
      placeholder="perfil"></ion-input>
  </ion-item> -->

  <ion-button id="btnCamera" expand="full" (click)="tomarFotografia()" [disabled]='!user.nombre'>
    <ion-icon name="camera"></ion-icon>
  </ion-button>

</form>

<ion-button color="danger" expand="block" type="submit" [disabled]=" !user.imagen"
  (click)="darDeAlta()">
  Registrarse!
</ion-button>
<ion-spinner id="spinner" *ngIf="showSpinner" name="circles" ></ion-spinner>
