.unica{
    left: 20%;
    width: 200px;
    z-index: 99999; 
    position: absolute;
}

ion-spinner {
    width: 300px !important;
    display: block;
    margin: auto;
  }


.arriba{
    font-size: 30px;
}

.cerrar{
    font-size: 30px;
    float: right;
}