<ion-header>
  <ion-icon id="hamburgerLeftMenu" class="hamburgerMenu" name="menu-outline" pButton type="button"
    (click)="actualizarUsuario()" (click)="leftMenu = true" (click)="mostrarFormProductos=false"
    (click)="mostrarMenuProductos=false" (click)="mostrarSalaDeEspera=false"
    (click)="mostrarDetallesDelPedidoActual=false" (click)="mostrarEncuestaDeSatisfaccion=false"
    (click)="quieroJugar=false"></ion-icon>
</ion-header>
<ion-content>

  <!-- CONSULTA AL MOZO -->
  <app-form-consultas *ngIf="mostrarFormConsultas" [user]="user" (preguntaCanceladaEvent)="mostrarFormConsultas=false">
  </app-form-consultas>
  <!-- <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog> -->
  <p-confirmDialog></p-confirmDialog>
  <!-- FIN CONSULTA AL MOZO -->


  <!-- LEFT MENU -->
  <p-sidebar [(visible)]="leftMenu" [modal]=false [baseZIndex]="10000">
    <h1 style="font-weight:normal">Acciones usuario</h1>
    <h4 *ngIf="user && user.mesa">Mesa asignada: {{user.mesa.codigo}}</h4>
    <ion-button class="btnPropio" (click)="scanCode()" (click)="leftMenu = false">
      Escanear
      <img style="max-width: 30px;" src="../../../../assets/images/qr.png" alt="imagen logo QR">
    </ion-button>
    <ion-button *ngIf="user.ubicado=='enMesa' && escaneoMesa" (click)="mostrarFormConsultas=true"
      (click)="mostrarMenuProductos=false" class="btnPropio" (click)="leftMenu = false">
      Consultar
      <img style="max-width: 30px;" src="../../../../assets/images/request.png">
    </ion-button>
    <!-- boton repetido -->
    <ion-button *ngIf="(user.ubicado=='enMesa' && !pedidoActual && escaneoMesa) " class=" btnPropio"
      (click)="leftMenu = false" (click)="mostrarMenuProductos=true" (click)="mostrarFormConsultas=false">
      Armar pedido <img style="max-width: 30px;" src="../../../../assets/images/carrito.png">
    </ion-button>
    <ion-button *ngIf="(pedidoActual && pedidoActual.estado=='cerrado' && escaneoMesa) " class=" btnPropio"
      (click)="leftMenu = false" (click)="mostrarMenuProductos=true" (click)="mostrarFormConsultas=false">
      Armar pedido <img style="max-width: 30px;" src="../../../../assets/images/carrito.png">
    </ion-button>
    <!--  fin boton repetido -->
    <ion-button
      *ngIf="(user.ubicado=='enMesa' && pedidoActual && pedidoActual.estado=='recibido' && habilitarJuegoYEncuesta)"
      class=" btnPropio" (click)="leftMenu = false" (click)="mostrarDetallesDelPedidoActual=true">
      Detalle pedido <img style="max-width: 30px;" src="../../../../assets/images/detallePedido.png">
    </ion-button>
   <!-- <ion-button
      *ngIf="(pedidoActual && pedidoActual.estadoEncuesta!='enviada' && pedidoActual.estado=='recibido' && habilitarJuegoYEncuesta)"
      (click)="mostrarEncuestaDeSatisfaccion=true" (click)="leftMenu = false">Responder
      encuesta
    </ion-button> -->
    <ion-button
      *ngIf="(pedidoActual && pedidoActual.estadoEncuesta!='enviada' && pedidoActual.estado=='recibido' && habilitarJuegoYEncuesta)"
      (click)="leftMenu = false" (click)="quieroJugar=true">Quiero jugar
    </ion-button>

  </p-sidebar>
  <!-- FIN LEFT MENU -->

  <!-- ARMAR PEDIDO -->
  <app-menu-productos *ngIf="mostrarMenuProductos" (pedidoAlteradoEventToPrincipal)="calcularCostoTotal($event)"
    (formalizarPedidoEventToPrincipal)="darDeAltaPedido($event)"></app-menu-productos>
  <!-- FIN ARMAR PEDIDO -->

  <!-- DETALLE PEDIDO ACTUAL -->
  <app-detalle-pedido-actual *ngIf="mostrarDetallesDelPedidoActual" [pedido]="pedidoActual"></app-detalle-pedido-actual>
  <!-- FIN DETALLE PEDIDO ACTUAL -->

  <!-- ENCUESTA DE SATISFACCION -->
  <app-encuesta-de-satisfaccion [mostrarEncuesta]="mostrarEncuestaDeSatisfaccion"
    (dialogCerradoEvent)="mostrarEncuestaDeSatisfaccion=false" [pedidoActual]="pedidoActual">
  </app-encuesta-de-satisfaccion>
  <!-- <ion-button *ngIf="pedidoActual.estadoEncuesta!='enviada'" (click)="mostrarEncuestaDeSatisfaccion=true">Responder encuesta</ion-button> -->
  <!-- FIN ENCUESTA DE SATISFACCION -->

  <!-- JUEGOS -->
  <app-anagrama *ngIf="(pedidoActual && pedidoActual.estado=='recibido' && habilitarJuegoYEncuesta && quieroJugar)"
    [pedidoActual]="pedidoActual"></app-anagrama>
  <!-- JUEGOS -->

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button *ngIf="(pedidoActual && pedidoActual.estado=='entregado')" (click)="confirmarRecepcionDelPedido()">
      Recibi el pedido</ion-button>
    <img *ngIf="mostrarDetallesDelPedidoActual && pedidoActual.estado=='recibido'" id="pedirCuenta"
      src="../../../assets/images/pedirCuenta.png" style="max-width: 40px; float: left;"
      (click)="mostrarConfirmacion()">
    <ion-title *ngIf="pedidoActual" style="float: right;">Total: {{pedidoActual.facturacion|precio}}</ion-title>
    <ion-title *ngIf="(!pedidoActual && totalAcumulado!=0)" style="float: right;">Total: {{totalAcumulado|precio}}
    </ion-title>
  </ion-toolbar>
</ion-footer>


<p-dialog header="Pedir Factura" [(visible)]="mostrarDialogPedirFactura" [modal]="true" [style]="{width: '90%'}"
  [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
  <div class="centrado">
    <p>¡Gracias por venir a "La Comandita"! Esperamos que haya tenido una linda experiencia.</p>
    <div style="background-color: black; border-radius: 100%;">
      <img src="../../../assets/images/Logo-Comandita.png" style="max-width: 10px;">
    </div>
  </div>
  <p><b>¿Quiere pedir la factura?</b></p>
  <p>Grado de satisfacción (propina {{propina}}%)</p>
  <br>
  <p-slider [(ngModel)]="propina" [min]="0" [max]="50"></p-slider>
  <br>
  <!-- si NO aplica el descuento -->
  <p *ngIf="(pedidoActual && toggleDescuento && !propina)">-Descuento: {{pedidoActual.descuento}}% (de los juegos)</p>
  <p *ngIf="(pedidoActual && toggleDescuento && !propina)">Total con descuento:
    {{pedidoActual.facturacion-((pedidoActual.facturacion/100)*pedidoActual.descuento)|precio}}</p>
  <p *ngIf="(pedidoActual && propina && !toggleDescuento)">Propina: {{(pedidoActual.facturacion/100)*propina|precio}}
  </p>
  <p *ngIf="(pedidoActual && propina && !toggleDescuento)">Total con propina:
    {{pedidoActual.facturacion+((pedidoActual.facturacion/100)*propina)|precio}}</p>
  <!-- FIN si NO aplica el descuento -->
  <!-- SI aplica descuento -->
  <p *ngIf="(pedidoActual && propina && toggleDescuento)">descuento: {{pedidoActual.descuento}}% (de los juegos)</p>
  <p *ngIf="(pedidoActual && propina && toggleDescuento)">Total con descuento:
    {{pedidoActual.facturacion-((pedidoActual.facturacion/100)*pedidoActual.descuento)|precio}}</p>

  <p *ngIf="(pedidoActual && propina && toggleDescuento)">Propina:
    {{((pedidoActual.facturacion-((pedidoActual.facturacion/100)*pedidoActual.descuento))/100)*propina|precio}}
  </p>
  <p *ngIf="(pedidoActual && propina && toggleDescuento)">Total con propina:
    {{(pedidoActual.facturacion-((pedidoActual.facturacion/100)*pedidoActual.descuento))+(((pedidoActual.facturacion-((pedidoActual.facturacion/100)*pedidoActual.descuento))/100)*propina)}}
  </p>
  <!-- FIN SI aplica descuento -->

  <ion-item *ngIf="pedidoActual && pedidoActual.descuento>0">
    <ion-label>Activar descuento del juego</ion-label>
    <ion-toggle color="primary" [(ngModel)]="toggleDescuento"> </ion-toggle>
  </ion-item>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="mostrarDialogPedirFactura=false" (click)="pedirFactura()"
      label="Si"></button>
    <button type="button" pButton icon="pi pi-times" (click)="mostrarDialogPedirFactura=false" label="No"
      class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>