tr {
    font-weight: bold;
    background: #d1d1d1 !important;
    td{
        border: none !important;
    }
}
tr:nth-child(even),th {
    background-color: #adadad !important;
}
#divMesasLibres{
    background-color: gray;
    position: absolute;
    top: 5%;
    min-width: 100%;
    min-height: 50%;
}
p-table {
    z-index: 99;
}
#divAdvertencia{
    position: absolute;
    top: 10%;
    z-index: 100;
}
