<ion-header>
  <ion-toolbar class="centrado">
    <ion-title> <img src="https://www.freeiconspng.com/uploads/bartender-icon-10.png" height="40px"> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="centrado">
  <!-- LEFT MENU -->
  <p-sidebar [(visible)]="leftMenu" [modal]=false>
    <h1 style="font-weight:normal">Acciones Bartender</h1>
    <ion-button expand="full" (click)="leftMenu = false" (click)="mostrarListaDepedidos=true"><i class="pi pi-align-justify"></i>Ver ordenes
    </ion-button>
  </p-sidebar>
  <ion-icon id="hamburgerLeftMenu" class="hamburgerMenu" name="menu-outline" pButton type="button"
    (click)="leftMenu = true" (click)="mostrarListaDepedidos=false"></ion-icon>
  <!-- FIN LEFT MENU -->

  <br>
  <br>
  <ion-button (click)="cambiarImagenDeBoton()">{{btnEstados.label}}
    <img class="imgIcon" src="{{btnEstados.imagen}}">
  </ion-button>

  <br>
  <br>
  <p-accordion>
    <p-accordionTab header="BEBIDAS">
      <div *ngFor="let orden of listaDeBebidas">
        <app-accordion-producto *ngIf="orden.estado== btnEstados.filtroSeleccionado" [titulo]="orden.codigoPedido"
          [pedido]="orden.lista" (terminarEvent)="cambiarEstadoOrden($event,orden)"
          (prepararEvent)="cambiarEstadoOrden($event,orden)"></app-accordion-producto>
      </div>
    </p-accordionTab>
  </p-accordion>

</ion-content>