.imgIcon{
    max-width: 30px;
    float: right;
    margin-left: 10px;
}

ion-content{
    --background: rgb(194, 223, 191);
}

ion-button{
    --background: rgb(138, 197, 131);
}

#hamburgerLeftMenu{
    float: left;
}