<ion-content>
  <img *ngIf="esLogin" src="../../assets/images/login.png" alt="login">
  <img *ngIf="!esLogin" src="../../assets/images/registro.png" alt="registro">
  <div id="cardLogin">
    <div class="contenedor">
      <ion-item class="select">
        <!-- aca tensdria que agarrar que tipo queres subir, ej empleado te pregunta si es mozo bartender etc -->
        <ion-label>Perfil</ion-label>
        <ion-select value="" #C [(ngModel)]="user" (ionChange)="seleccionarUsuario(C.value)">
          <ion-select-option [value]="user" *ngFor="let user of tipoUsuarios">{{user.tipo}}</ion-select-option>
        </ion-select>
      </ion-item>
      <form class="centrado">
        <ion-input type='text' placeholder="Ingrese nombre" [(ngModel)]="user.nombre" name="nombre" required>
        </ion-input>
        <ion-input type='text' placeholder="Ingrese apellido" [(ngModel)]="user.apellido" name="apellido" required>
        </ion-input>
        <ion-input type='text' placeholder="Ingrese DNI" [(ngModel)]="user.dni" name="dni" required>
        </ion-input>
        <ion-input type='text' placeholder="Ingrese CUIL" [(ngModel)]="user.cuil" name="cuil" required>
        </ion-input>
        <ion-button ion-button class="f" type="button" expand="full" (click)="sacarFoto()" block>Subir Foto
        </ion-button>
        <ion-button ion-button class="f" type="button" expand="full" (click)="escanearQR()" block>¿Posee un QR?
        </ion-button>
        <ion-button ion-button type="submit" expand="full" (click)="onRegister()" block>Registrarse
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>