<ion-header>
  <!-- <ion-toolbar>
    <ion-title>animals</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>

  <ion-fab horizontal="start" vertical="top" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon md="caret-forward" ios="chevron-forward-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button color="dark">
        <a href="/animals">
          <img src="../../../assets/img/fab/animales.png">
        </a>
      </ion-fab-button>
      <ion-fab-button color="dark">
        <a href="/colores">
          <img src="../../../assets/img/fab/colores.png">
        </a>
      </ion-fab-button>
      <ion-fab-button color="dark">
        <a href="/numeros">
          <img src="../../../assets/img/fab/numeros.png">
        </a>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <div class="fondo">
    <div class="animales">
      <ion-grid>
        <ion-row size="6">
          <ion-col size="6" *ngFor="let animal of animales">
            <img (click)="reproducirSonido(animal)" [src]="animal.imagen" width="100%">
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed" >
    <ion-fab-button color="dark">
      <ion-icon md="caret-back" ios="chevron-back-circle-outline"></ion-icon>
      <img src="{{bandera}}">
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button color="dark" value="portu" (click)="cambiarIdioma1()">
        <img src="../../../assets/img/fab/brasil.png">
      </ion-fab-button>
      <ion-fab-button color="dark" value="espa" (click)="cambiarIdioma2()">
        <img src="../../../assets/img/fab/argentina.png">
      </ion-fab-button>
      <ion-fab-button color="dark" value="ingle" (click)="cambiarIdioma3()">
        <img src="../../../assets/img/fab/ingles-png.png">
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>


</ion-content>