<ion-header>
  <ion-toolbar color="dark">
    <ion-title align="center">Elija su aula</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container1">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div (click)="redirectear('/chat-a')" style="background-color: rgba(0, 0, 0, 0.884); border-radius: 100px;">
      <strong style="color:green;">PPS-4A </strong>
    </div>
  </div>
  <div id="container2">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div (click)="redirectear('/chat-a')" style="background-color: rgba(0, 0, 0, 0.863); border-radius: 100px;">
      <strong style="color: rgb(167, 99, 223);">PPS-4B</strong>
    </div>
  </div>
</ion-content>
