*{
    color: black;
}
ion-row{
    border-bottom: none;
    border-radius: 10px;
    border-left: 2px solid blue;
    border-right: 2px solid blue;
}
ion-row:last-child{
    border-radius: 10px;
}
img{
    min-width: 40px;
    max-width: 40px;
}
img:active{
   transform: scale(0.9);
}
ion-spinner{
    transform: scale(1.5) translateY(5px);
    margin: 0px;
}
#divRow{
    display: flex;
}