<ion-card>
  <ion-card-content>
    Porque nos importa la comodidad y para facilitar su registro, hemos habilitado la opción de registrase utilizando 
    el QR de su documento para completar automáticamente sus datos.
  </ion-card-content>
</ion-card>

<form [formGroup]="todo">
  <div class="centrado">
    <img id="fotoDePerfil" *ngIf="user.imagen && mostrarImgen" src="{{user.imagen}}" alt="perfil">
    <!-- <img id="fotoDePerfil" src="../../../../assets/images/graficoArea.png" alt="perfil"> -->

  </div>
  <ion-item>
    <ion-input type="text" [(ngModel)]="user.nombre" formControlName="nombre" placeholder="Nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" [(ngModel)]="user.apellido" formControlName="apellido" placeholder="Apellido"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" [(ngModel)]="user.dni" formControlName="dni" placeholder="DNI"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="password" [(ngModel)]="user.password" formControlName="password" placeholder="Contraseña"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" [(ngModel)]="user.email" formControlName="email" placeholder="Correo Electrónico">
    </ion-input>
  </ion-item>
  <ion-item *ngIf="user.perfil=='supervisor'||user.perfil=='empleado' || user.perfil=='admin'">
    <ion-input type="text" [(ngModel)]="user.cuil" formControlName="cuil" placeholder="cuil"></ion-input>
  </ion-item>
  <!-- <ion-item>
    <ion-input type="text" [(ngModel)]="user.perfil" readonly value="user.perfil" formControlName="perfil"
      placeholder="perfil"></ion-input>
  </ion-item> -->
  <ion-item *ngIf="user.perfil=='empleado'">
    <ion-select interface='action-sheet' [(ngModel)]="user.tipo" formControlName="tipo" placeholder="tipo de empleado">
      <ion-select-option value="mozo">Mozo</ion-select-option>
      <ion-select-option value="cocinero">Cocinero</ion-select-option>
      <ion-select-option value="bartender">Bartender</ion-select-option>
      <ion-select-option value="cervecero">Cervecero</ion-select-option>
      <ion-select-option value="delivery">Delivery</ion-select-option>
    </ion-select>
  </ion-item>
  <div id="botones">
    <ion-button id="btnCamera" (click)="tomarFotografia()" [disabled]='!user.dni'>
      <ion-icon name="camera"></ion-icon>
    </ion-button>
    <ion-button id="btnQR" (click)="scanCode()">
      <img src="../../../../assets/images/qr.png" alt="imagen logo QR">
    </ion-button>
  </div>

</form>

<ion-button *ngIf="user.perfil=='empleado'" color="primary" expand="full" type="submit" [disabled]="!todo.valid"
  (click)="darDeAlta()">
  Dar de alta a un empleado
</ion-button>
<ion-button *ngIf="user.perfil=='supervisor'" color="primary" expand="full" type="submit"
  [disabled]="!user.nombre || !user.apellido || !user.dni  || !user.cuil || !user.imagen|| !user.password" (click)="darDeAlta()">
  Dar de alta a un supervisor
</ion-button>
<ion-button *ngIf="user.perfil=='admin                                                                                         '" color="primary" expand="full" type="submit"
  [disabled]="!user.nombre || !user.apellido || !user.dni  || !user.cuil || !user.imagen || !user.password" (click)="darDeAlta()">
  Dar de alta a un admin
</ion-button>

<ion-button *ngIf="user.perfil=='cliente'" color="danger" expand="block" type="submit"
  [disabled]="!user.nombre || !user.apellido || !user.dni  || !user.imagen || !user.password" (click)="darDeAlta()">
  ¡Registrarse!
</ion-button>
<ion-spinner *ngIf='showSpinner' id="spinner" name="bubbles"></ion-spinner>