
<!-- PASOS -->
<p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="pSteepSoloLectura"></p-steps>
<!-- FIN PASOS -->

<ion-slides pager="false" [options]="slideOpts">
  <ion-slide *ngFor="let auxProducto of productos">
    <app-muestreo *ngIf="mostrarMuestreo" [producto]="auxProducto" (agregarALaOrdenEvent)="mostrarDialog($event)"
      (pasoAnteriorEvent)="cambiarPaso('anterior')" (pasoSiguienteEvent)="cambiarPaso('siguiente')" ></app-muestreo>
  </ion-slide>
</ion-slides>

<!-- DIALOG CANTIDAD -->
<p-dialog *ngIf="displayDialog" header="Especifica tu pedido" [(visible)]="displayDialog" [style]="{width: '100%'}"
  [baseZIndex]="10000" class="centrado">
  <p> {{productoSeleccionado.nombre}} por {{productoSeleccionado.tipo | singular}}
    {{productoSeleccionado.precio| precio}}</p>
  <ion-item class="centrado">
    <ion-range min="0" max="15" color="secondary" [(ngModel)]="cantidadPedida">
      <ion-label slot="start">{{cantidadPedida}}</ion-label>
      <ion-label slot="end">15</ion-label>
    </ion-range>
  </ion-item>
  <h5 style="float: right; ">Sub total: {{productoSeleccionado.precio*cantidadPedida | precio}} </h5>
  <p-footer>
    <ion-button type="button" (click)="displayDialog=false" color="primary" (click)="agregarAlPedido()" >Listo
    </ion-button>
    <ion-button type="button" (click)="displayDialog=false" color="medium">Cancelar</ion-button>
  </p-footer>
</p-dialog>
<!-- FIN DIALOG CANTIDAD-->

<!-- DETALLADO PRODUCTO -->
<app-detallado-del-pedido  *ngIf="!mostrarMuestreo" [pedido]="pedido" (formalizarPedidoEvent)="reEmitirEventoFormalizarPedido(pedido)" (pedidoAlteradoEvent)="reEmitirEvento(pedido)" (volverAlPasoUnoEvent)="reiniciar()"></app-detallado-del-pedido>
<!-- FIN DETALLADO PRODUCTO -->
